<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="Mysql" targetRuntime="tk.mybatis.mapper.generator.TkMyBatis3Impl" defaultModelType="flat">
        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"/>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin"/>
        <plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
            <property name="searchString" value="Example$"/>
            <property name="replaceString" value="Criteria"/>
        </plugin>

        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="com.chinapopin.framework.datasource.utils.MyMapper"/>
            <property name="caseSensitive" value="true"/>
        </plugin>

        <!--   <plugin type="tk.mybatis.mapper.generator.ColumnValidatorPlugin">
               <property name="src" value="./src/main/resources/param.properties" />
           </plugin>-->

        <commentGenerator type="tk.mybatis.mapper.generator.MapperCommentGenerator">
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="false"/>
        </commentGenerator>

        <jdbcConnection
                connectionURL="jdbc:mysql://100.98.100.242:3306/whz_dev?useLegacyDatetimeCode=false&amp;serverTimezone=Asia/Shanghai&amp;characterEncoding=UTF-8&amp;useSSL=false"
                driverClass="com.mysql.jdbc.Driver" userId="whz" password="cd_whz_20171201">
        </jdbcConnection>

        <!-- <jdbcConnection  connectionURL="jdbc:mysql://100.98.100.242:3306/rkw_test?useLegacyDatetimeCode=false&amp;serverTimezone=Asia/Shanghai&amp;characterEncoding=UTF-8&amp;useSSL=false"
                          driverClass="com.mysql.jdbc.Driver" userId="rkwtest" password="tEst@2013">
         </jdbcConnection>-->


        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.chinapopin.cdwhz.bean"
                            targetProject="../src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <javaClientGenerator type="ANNOTATEDMAPPER" targetPackage="com.chinapopin.cdwhz.dao"
                             targetProject="../src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>


        <table tableName="sys_user_record" mapperName="{0}Dao" enableSelectByExample="false" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false">
            <!--<generatedKey column="u_id" sqlStatement="MySql" identity="true" />-->
        </table>

    </context>
</generatorConfiguration>